<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Support client-side routing for Sanity Studio (/admin)
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^admin/(.*)$ admin/index.html [L]
</IfModule>
